* {
    border: 0px;
    margin: 0px;
    /* outline: 2px dotted red; */
    padding: 0px;
    background: transparent;
}

body {
    font-family: 'Courier New', Courier, monospace;
    width: auto;
}

.navigation-bar {
    position: absolute;
    right: 0;
    top: 0;
    width: fit-content;
    height: fit-content;
    margin-top: 10px;
}
.navigation-bar .nav-text-link {
    text-decoration: none;
    color: #808080;
    font-weight: bold;
    margin-right: 20px;
}
.navigation-bar .nav-text-link:hover {
    border-bottom: 2px solid #808080;
}
.navigation-bar .img-app-logo {
    width: 30px;
    margin-bottom: -10px;
    margin-right: 20px;
    border-radius: 30px;
    padding: 5px;
    cursor: pointer;
}
.navigation-bar .img-app-logo:hover {
    background-color: #e9e6e6;
    border-radius: 30px;
    padding: 5px;
}
.app-logo[data-title]:hover:after {
    visibility: visible;
}
.app-logo[data-title]:after {
    content: attr(data-title);
    background-color: #242424;    
    color: #ffffff;
    position: absolute;
    margin: 60px 0 0 -100px;
    padding: 5px 10px;
    visibility: hidden;
    border-radius: 5px;
} 
.navigation-bar .img-john {
    width: 40px;
    padding: 3px;
    border-radius: 30px;
    margin-bottom: -15px;
    margin-right: 20px;
}
.navigation-bar .img-john:hover {
    background-color: #e9e6e6;
    border-radius: 30px;
    padding: 3px;
}
.john[data-title]:hover:after {
    visibility: visible;
}
.john[data-title]:after {
    content: attr(data-title);
    background-color: #242424;    
    color: #ffffff;
    position: absolute;
    margin: 60px 0 0 -160px;
    padding: 5px 10px;
    visibility: hidden;
    border-radius: 5px;
    width: fit-content;
} 
.google-logo-container {
    width: auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
