* {
    border: 0px;
    margin: 0px;
    /* outline: 2px dotted red; */
    padding: 0px;
    background: transparent;
}

html body {
    font-family: Arial, Helvetica, sans-serif;
}
.navigation-bar {
    width: 90%;
    margin: 10px auto 25px;
}
.navigation-bar a {
    display: inline;
    font-size: 1.25em;
    margin-right: 20px;
    text-decoration: none;
    color: #808080;
}

.navigation-bar .img-app-logo {
    margin-bottom: -15px;
    margin-right: 25px;
}

.navigation-bar .img-john {
    margin-bottom: -15px;
    border-radius: 50%;
    border: solid 2px #808080;
    width: 45px;
}

.google-logo {
    width: 75%;
    display: inline-block;
    margin: 20px 0 20px 50px;
}

.search-bar {
    border: solid 2px #d3d3d3;
    border-radius: 30px;
    width: 90%;
    height: 40px;
    margin: 10px auto 20px;
    box-shadow: 3px 3px 5px 1px #778899;
}

.search-bar .search-bar-search-logo {
    width: 23px;
    padding: 8px 3px 5px;
    margin-right: 80%;
}
.search-bar .search-bar-mic-logo {
    width: 23px;
    padding: 8px 3px 5px;
}
.search-bar .search-bar-search-input {
    position: absolute;
    width: 70%;
    height: 20px;
    margin-top: 10px;
    margin-left: -263px;
    font-size: 1.25em;
    outline: none;
}
.search-button-type {
    padding-left: 10vw;
}
.search-button-type a {
    display: inline-block;
    margin: 20px 10px;
    width: fit-content;
    background-color: #f5f5f5;
    padding: 5px;
    text-decoration: none;
    color: #808080;
    border-radius: 5px;
}
.language-option {
    text-align: center;
    width: 100%;
    margin: 10px 0;
    font-size: 1.25em;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    color: #70757a;
    text-align: center;
    border-bottom: #808080;
    font-size: 1.25em;
}

.show-country {
    text-align: left;
    padding: 10px;
    border-bottom: solid 2px #808080;
}

.footer-content li {
    display: inline-block;
    padding: 5px 10px;
}

.footer-content li a {
    text-decoration: none;
    color: #70757a;
}
